@import url('https://fonts.googleapis.com/css?family=Exo+2');

.fbbuttonwrapper {
    width:102vw;
    position:relative;
    margin-left: -2vw;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size:24px
}

.smaller_text {
    font-size:18px
}