
.mycarousel {
    margin: auto;
    margin-top: 20px;
    max-width: 50%;
}

.mycarousel img{
    max-width: 100%;
    margin: auto;
}

.bigtext {
    position:relative;
    width:102vw;
    margin-left: -2vw;
    text-align: center;
}


.bigtext p{
    display:inline-block;
    font-family: 'Exo 2', sans-serif;
    font-size:4vw;
}


.bio {
    width:102vw;
    margin-left: -2vw;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-size:1.75vw;
    text-align: center;
}

.biotext {
    margin-left:20vw;
    margin-right:20vw;
    border:5px outset rgb(78,130,177);
    padding:15px;
}

