.biodiv {
    position:absolute;
    width:102vw;
    margin-left: -2vw;
    margin-top:100px;
    text-align: center;
}


.biodiv p{
    display:inline-block;
    font-family: 'Exo 2', sans-serif;
    font-size:40px;
}

.litterbio {
    width:102vw;
    margin-left: -2vw;
    height:30px;
    position:absolute;
    top: 210px;
    font-family: 'Exo 2', sans-serif;
    font-size:24px;
    text-align: center;
}

.biotext {
    margin-left:20vw;
    margin-right:20vw;
    border:5px outset rgb(78,130,177);
    padding:15px;
}

.dogsgallery {
    text-align: center;
    position:absolute;
    margin-top:500px;
}

.dogsgallery img {
    width:20vw;
    padding: 1vw;
    transition: 0.3s;
}

.dogsgallery img:hover {
    transform:scale(1.1)
}