<div class="bigtext">
        <p>Our First Litter</p>
</div>

<div class="bio">
        <div class="biotext">
                       Callie and Smokey's first litter had 5 beautiful puppies! 2 blue merle boys, 
                       1 red merle boy, 1 red tri boy, and 1 red tri girl. They are now
                        5 weeks old. We will be selling them at 6 to 8 weeks.
        </div>
</div>

<div class="bigtext">
        <p>The Puppies</p>
</div>

<ngb-carousel class=mycarousel *ngIf="fredimages" data-interval="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="fredimages[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="fredimages[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="fredimages[2]" alt="Random second slide">
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
        <div class="biotext">
        <p>Name: Fred</p>
        <p>Sex: male</p>
        <p>Coat: red merle</p>
        <p>Eye Color: blue</p>
        <p>Price: $1300 or best offer</p>
        </div>
</div>

<ngb-carousel class=mycarousel *ngIf="susanimages" data-interval="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="susanimages[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="susanimages[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="susanimages[2]" alt="Random second slide">
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Name: Susan</p>
                <p>Sex: female</p>
                <p>Coat: red tri</p>
                <p>Eye Color: hazel</p>
                <p>Price: $1000 or best offer</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="jeraldimages" data-interval="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="jeraldimages[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="jeraldimages[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="jeraldimages[2]" alt="Random second slide">
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Name: Jerald</p>
                <p>Sex: male</p>
                <p>Coat: blue Merle w/ brown</p>
                <p>Eye Color: blue</p>
                <p>Price: $1100 or best offer</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="rustyimages" data-interval="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="rustyimages[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="rustyimages[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="rustyimages[2]" alt="Random second slide">
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Name: Rusty</p>
                <p>Sex: male</p>
                <p>Coat: red tri</p>
                <p>Eye Color: hazel</p>
                <p>Price: $900 or best offer</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="juniorimages" data-interval="false">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="juniorimages[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="juniorimages[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="juniorimages[2]" alt="Random second slide">
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Name: Junior</p>
                <p>Sex: male</p>
                <p>Coat: blue merle</p>
                <p>Eye Color: blue</p>
                <p>Price: $1200 or best offer</p>
                </div>
</div>