<div class="bigtext">
        <p>Our First Litter</p>
</div>

<div class="bio">
        <div class="biotext">
                       Callie and Smokey's first litter had 5 beautiful puppies! 2 blue merle boys, 
                       1 red merle boy, 1 red tri boy, and 1 red tri girl. They are now
                        3 weeks old. We will be selling them at 6 to 8 weeks.
        </div>
</div>

<div class="bigtext">
        <p>The Puppies</p>
</div>

<ngb-carousel class=mycarousel *ngIf="fredimages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="fredimages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Fred</h3>
            <p>3 weeks</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="fredimages[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Fred</h3>
            <p>1 week</p>
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
        <div class="biotext">
        <p>Sex: male</p>
        <p>Coat: red merle</p>
        <p>Expected Eye Color: blue</p>
        <p>Price: $1300</p>
        </div>
</div>

<ngb-carousel class=mycarousel *ngIf="susanimages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="susanimages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Susan</h3>
            <p>3 weeks</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="susanimages[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Susan</h3>
            <p>1 week</p>
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Sex: female</p>
                <p>Coat: red tri</p>
                <p>Expected Eye Color: brown</p>
                <p>Price: $1000</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="jeraldimages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="jeraldimages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Jerald</h3>
            <p>3 weeks</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="jeraldimages[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Jerald</h3>
            <p>1 week</p>
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Sex: male</p>
                <p>Coat: blue Merle w/ brown</p>
                <p>Expected Eye Color: brown</p>
                <p>Price: $1100</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="rustyimages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="rustyimages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Rusty</h3>
            <p>3 weeks</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="rustyimages[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Rusty</h3>
            <p>1 week</p>
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Sex: male</p>
                <p>Coat: red tri</p>
                <p>Expected Eye Color: brown</p>
                <p>Price: $900</p>
                </div>
</div>

<ngb-carousel class=mycarousel *ngIf="juniorimages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="juniorimages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>Junior</h3>
            <p>3 weeks</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="juniorimages[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Junior</h3>
            <p>1 week</p>
          </div>
        </ng-template>
</ngb-carousel>

<div class="bio">
                <div class="biotext">
                <p>Sex: male</p>
                <p>Coat: blue merle</p>
                <p>Expected Eye Color: blue</p>
                <p>Price: $1200</p>
                </div>
</div>