.biodiv {
    position:relative;
    width:102vw;
    margin-left: -2vw;
    text-align: center;
}


.biodiv p{
    display:inline-block;
    font-family: 'Exo 2', sans-serif;
    font-size:28px;
}

.litterbio {
    width:102vw;
    margin-left: -2vw;
    position:relative;
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
    text-align: center;
}

.biotext {
    max-height:100%;
    margin-left:20vw;
    margin-right:20vw;
    border:5px outset rgb(78,130,177);
    padding:15px;
}

.dogsgallery {
    position: relative;
    text-align: center;
    margin-top: 15px;
}

.dogsgallery img {
    max-width:20vw;
    height: auto;
    width: auto;
    padding: 1vw;
    transition: 0.3s;
}

.dogsgallery img:hover {
    transform:scale(1.1)
}