<div class="biodiv">
        <p>OUR FIRST LITTER</p>
</div>

<div class="litterbio">
        <div class="biotext">
                       Callie and Smokey's first litter had 5 beautiful puppies! 2 blue merle boys, 
                       1 red merle boy, 1 red tri boy, and 1 red tri girl. These pictures
                       show them at 1 week old. We will be selling them in 6 to 8 weeks.
        </div>
</div>

<div class="dogsgallery">
        <div lightbox-group>
            <img src="../assets/images/Susan_long.jpg" lightbox [fullImage]="{path: '../assets/images/Susan_long.jpg' }"/>
            <img src="../assets/images/Susan_back.jpg" lightbox [fullImage]="{path: '../assets/images/Susan_back.jpg' }"/>
            <img src="../assets/images/Junior_long.jpg" lightbox [fullImage]="{path: '../assets/images/Junior_long.jpg' }"/>
            <img src="../assets/images/Junior_back.jpg" lightbox [fullImage]="{path: '../assets/images/Junior_back.jpg' }"/>
            <img src="../assets/images/Rusty_long.jpg" lightbox [fullImage]="{path: '../assets/images/Rusty_long.jpg' }"/>
            <img src="../assets/images/Rusty_back.jpg" lightbox [fullImage]="{path: '../assets/images/Rusty_back.jpg' }"/>
            <img src="../assets/images/Fred_long.jpg" lightbox [fullImage]="{path: '../assets/images/Fred_long.jpg' }"/>
            <img src="../assets/images/Fred_back.jpg" lightbox [fullImage]="{path: '../assets/images/Fred_back.jpg' }"/>
            <img src="../assets/images/Jerald_long.jpg" lightbox [fullImage]="{path: '../assets/images/Jerald_long.jpg' }"/>
            <img src="../assets/images/Jerald_back.jpg" lightbox [fullImage]="{path: '../assets/images/Jerald_back.jpg' }"/>
        </div>
</div>