<header class="mainheader">
  <img class="logophoto" src="assets/images/thelogo.png">
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav class="mynav">
                <ul>
                    <li onclick="dropDownDisappear()"> <a routerLinkActive="active" routerLink="home">Home</a> </li>
                    <li onclick="dropDownDisappear()"> <a routerLinkActive="active" routerLink="dogs">Dogs</a> </li>
                    <li onclick="dropDownDisappear()"> <a routerLinkActive="active" routerLink="puppies">Puppies</a> </li>
                    <li onclick="dropDownDisappear()"> <a routerLinkActive="active" routerLink="contact">Contact</a> </li>
                </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
  </label>
</header>

<body>
<router-outlet></router-outlet>
<footer>
    <p>Follow Us</p>
    <a class="sociallink" href="https://www.facebook.com/HodgeMiniAussies" target="_blank">
      <img src="assets/images/fb_logo_color.png">
    </a>
    <a class="sociallink" href="https://www.instagram.com/hodgeminiaussies/" target="_blank">
      <img src="assets/images/ig_circle_color.png">
    </a>
  </footer>
</body>