@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    text-align: center;
}

.calliewrapper {
    width:102vw;
    margin-left: -2vw;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.smokeywrapper {
    width:102vw;
    margin-left: -2vw;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size:30px;
    width: 45vw;
}

.smaller_text {
    font-size:18px
}

.calliegallery {
    grid-column: 2;
    text-align: center;
    padding: 1vw;
    max-height: 100%;
}

.calliegallery img {
    max-width:25vw;
    transition: 0.3s;
}

.calliegallery img:hover {
    transform:scale(1.1)
}

.smokeygallery {
    grid-column: 2;
    text-align: center;
    padding: 1vw;
    max-height: 100%;
}

.smokeygallery img {
    max-width:25vw;
    transition: 0.3s;
}

.smokeygallery img:hover {
    transform:scale(1.1)
}

.calliestats {
    grid-column: 3;
    padding: 1vw;
    max-height: 100%;
}

.smokeystats {
    grid-column: 3;
    padding: 1vw;
    max-height: 100%;
}

.calliebio {
    width:102vw;
    margin-left: -2vw;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
}

.smokeybio {
    width:102vw;
    margin-left: -2vw;
    position:relative;
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
}

.biotext {
    margin-left:20vw;
    margin-right:20vw;
    border:5px outset rgb(78,130,177);
    padding:15px;
}

.dogsgallery {
    text-align:center;
    position:relative;
}

.dogsgallery img {
    max-width:20vw;
    height: auto;
    width: auto;
    padding: 1vw;
    transition: 0.3s;
}

.dogsgallery img:hover {
    transform:scale(1.1)
}

.gallerydiv {
    position:relative;
    width:102vw;
    margin-left: -2vw;
    text-align: center;
    margin-top: 100px;
}

.gallerydiv p{
    display:inline-block;
}