<body>
        <div class="calliewrapper">
            <div class="calliegallery">
                <div lightbox-group>
                    <img src="../assets/images/callie_profile.jpg" lightbox [fullImage]="{path: '../assets/images/callie_profile.jpg' }" />
                </div>
            </div>
            <div class="calliestats">
                <p>CALLIE</p>
                <p class="smaller_text">Female</p>
                <p class="smaller_text">3 years old</p>
                <p class="smaller_text">weight: 25 lbs </p>
            </div>
        </div>
        <div class="calliebio">
            <div class="biotext">
                    Callie is very athletic and a master of the frisbee arts.
                    She is very intelligent and eager to please. Her day-to-day
                    includes trips to the dog park and splashing in the creek.
                    She's a one person dog and it takes a while to warm up to 
                    strangers, but once she has, she becomes extremely affectionate.
                    Sometimes (I'll be honest), her love is overwhelming!
            </div>
        </div>
        <div class="smokeywrapper">
                <div class="smokeygallery">
                    <div lightbox-group>
                        <img src="../assets/images/smokey_profile.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_profile.jpg' }" />
                    </div>
                </div>
                <div class="smokeystats">
                    <p>SMOKEY</p>
                    <p class="smaller_text">Male</p>
                    <p class="smaller_text">1 year old</p>
                    <p class="smaller_text">weight: 30 lbs </p>
                </div>
            </div>
        <div class="smokeybio">
            <div class="biotext">
                           Smokey's favorite passtime is running. Running after 
                           pesky chipmunks, running for tennis balls, or running
                           after his best friend Callie. He is the friendliest dog, known for 
                           cuddling with strangers and falling asleep in their arms.
                           He requires a lot of exercise but don't worry about setting your alarm
                           for ball at the crack of dawn, he is sure to lick you until you get up!
            </div>
        </div>
        <div class="gallerydiv">
                <p>GALLERY</p>
        </div>
        <div class="dogsgallery">
                <div lightbox-group>
                    <img src="../assets/images/callie_puppy.JPG" lightbox [fullImage]="{path: '../assets/images/callie_puppy.JPG' }"/>
                    <img src="../assets/images/smokey_puppy.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_puppy.jpg' }"/>
                    <img src="../assets/images/callie_in_dirt_small.JPG" lightbox [fullImage]="{path: '../assets/images/callie_in_dirt_small.JPG' }"/>
                    <img src="../assets/images/smokey_in_car.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_in_car.jpg' }"/>
                    <img src="../assets/images/smokey_river.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_river.jpg' }"/>
                    <img src="../assets/images/callie_car.JPG" lightbox [fullImage]="{path: '../assets/images/callie_car.JPG' }"/>
                    <img src="../assets/images/smokey_belly.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_belly.jpg' }"/>
                    <img src="../assets/images/callie_field.jpg" lightbox [fullImage]="{path: '../assets/images/callie_field.jpg' }"/>
                    <img src="../assets/images/smokey_turning.jpg" lightbox [fullImage]="{path: '../assets/images/smokey_turning.jpg' }"/>
                    <img src="../assets/images/callie_smokey_frisbee.jpg" lightbox [fullImage]="{path: '../assets/images/callie_smokey_frisbee.jpg' }"/>
                    <img src="../assets/images/callie_bubbles.JPG" lightbox [fullImage]="{path: '../assets/images/callie_bubbles.JPG' }"/>
                    <img src="../assets/images/teri_and_dogs.jpg" lightbox [fullImage]="{path: '../assets/images/teri_and_dogs.jpg' }"/>
                </div>
        </div>
</body>