
    <div class="homegallery">
        <div lightbox-group>
            <img src="../assets/images/teri_and_dogs.jpg" lightbox [fullImage]="{path: '../assets/images/teri_and_dogs.jpg' }" />
        </div>
    </div>
    <div class="homedescription">
        <p>HODGE FAMILY - AUBURN, ALABAMA</p>
        <p class="smaller_text">
          The Hodge family fell in love with the Miniature Australian Shepherd when they first
          brought home Callie (left) 3 years ago. She added so much joy to their life that they
          decided to bring home Smokey (right) 2 years later. The Hodges take joy in raising 
          healthy, friendly dogs and look forward to finding the best homes for their newest litter
          born September 2019! Their wish for new owners is to experience the same excitement and joy
          in caring for this wonderful breed.
        </p>
    </div>
