body {
    text-align: center;
}


.homegallery {
    position: relative;
    text-align: center;
    padding: 1vw;
}

.homegallery img {
    max-width:40vw;
    transition: 0.3s;
}

.homegallery img:hover {
    transform:scale(1.1)
}

.homedescription {
    position: relative;
    text-align: center;
    padding: 1vw;
    margin-right:20vw;
    margin-left:20vw;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size:30px;
}

.smaller_text {
    font-size:18px
}