body {
    text-align: center;
}

.homewrapper {
    width:102vw;
    margin-left: -2vw;
    height:100px;
    position:absolute;
    margin-top:100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homegallery {
    grid-column: 2;
    text-align: center;
    padding: 1vw;
    max-height: 100%;
}

.homegallery img {
    height:40vh;
    transition: 0.3s;
}

.homegallery img:hover {
    transform:scale(1.1)
}

.homedescription {
    grid-column: 3;
    padding: 1vw;
    max-height: 100%;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size:30px;
    width: 45vw;
}

.smaller_text {
    font-size:18px
}